@import 'fonts';
@import 'reset';

$border-color: rgba(0, 0, 0, 0.1);
$link-color: #22a39f;

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #3c3c3c;
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: $link-color;
}

strong { font-weight: bold; }

nav {
  display: inline-block;
  margin-top: 50px;
  margin-left: 100px;
  color: #aaa;
  font-size: 0.875em;

  ul {
    display: inline-block;
    margin-right: 30px;
  }

  li {
    display: inline-block;

    &:not(:last-child)::after { content: "·"; }

    a {
      padding: 10px;
      &:hover { border-bottom: 1px solid rgba($link-color, 0.3); }
    }
  }
}

.container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: 200px auto;
  max-width: 1400px;
  margin: 50px 0;
  padding: 0 100px;
}

.personal-information {
  header {
    border-bottom: 2px solid $border-color;
    margin-bottom: 20px;

    h1 {
      font-size: 2em;
      font-weight: bold;
      line-height: 1.5;
      border-bottom: 1px solid $border-color;
    }

    h3 {
      color: #aaa;
      line-height: 2;
      border-bottom: 1px solid $border-color;
    }
  }

  .info {
    .single-info {
      margin: 20px 0;

      .title {
        font-weight: lighter;
        font-size: 1.1em;
      }

      a { display: block; }
    }
  }
}

.main-content {
  align-self: stretch;
  max-width: 700px;
  margin-top: 61px;

  &_section {
    margin: 20px 0;
    border-top: 3px solid $border-color;

    &-title {
      font-size: 1.75em;
      line-height: 2;
    }
  }

  .section-item {
    border-top: 1px solid $border-color;
    padding: 10px 0;

    &_header {
      opacity: 0.9;
      font-size: 1.2em;
      font-weight: bold;
      line-height: 1.2;
    }

    &_subheader {
      font-weight: lighter;
      color: #aaa;
    }

    &_details {
      font-size: 0.9em;
      padding-top: 5px;
    }
  }
}
