@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
  size: A4;
  margin: 24pt 32pt;
}

@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
    font-size: 12pt;
  }
}

body {
  position: relative;
  font-family: "Inter", "ui-sens-serif", "system-ui";

  @apply text-slate-900;
}
