doctype html
html(lang="pl")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{page.title}
  body

    include includes/nav.pug

    .container
      include includes/aside.pug
      include includes/main_section.pug