aside.personal-information
  header
    h1 Rafał Ileczko
    h3 Front-end developer
  section.info
    each info in infos
      .single-info
        .title #{info.title}
        case info.type
          when "string"
            span #{info.text}
          when "link"
            a(href=info.href) #{info.text}
          when "list"
            ul
              each item in info.items
                li
                  case item.type
                    when "string"
                      span #{item.text}
                    when "link"
                      a(href=item.href) #{item.text}