main.main-content
  each section in sections
    section.main-content_section
      h2.main-content_section-title #{section.title}
      div.main-content_section-content
        ul
          each item in section.items
            li
              div.section-item
                h3.section-item_header #{item.header}
                if item.subheader
                  h4.section-item_subheader #{item.subheader}
                p.section-item_details!= item.details